<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBabaVVv1_D4tYTCxWT3pS4mGZPA-GMP88</string>
	<key>GCM_SENDER_ID</key>
	<string>837461216912</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.workout</string>
	<key>PROJECT_ID</key>
	<string>hexfit-a0a97</string>
	<key>STORAGE_BUCKET</key>
	<string>hexfit-a0a97.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:837461216912:ios:1eb9ec1295f1b89c00d215</string>
</dict>
</plist>